# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Arquivos temporários ou de backup
*.bak
*.tmp
*.swp
*.swo
*.orig

# Arquivos do Arduino IDE
*.elf
*.hex

# Pastas geradas por builds (em IDEs ou PlatformIO)
.build/
.pio/
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de configuração específicos
config.h
